@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--md-sys-typescale-body-large-font);
  background: var(--surface-ground);
  color: var(--md-sys-color-on-surface);
}
