@use '@angular/material' as mat;
@use './styles/design-system';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
  color: var(--ads-color-text);
}

* {
  box-sizing: border-box;
}
